// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=23R0u0kmdl7b+vmhwpYrqg3xYaF */
$color-primary-0: #2d3a72;
$color-primary-1: #727daa;
$color-primary-2: #49568d;
$color-primary-3: #152257;
$color-primary-4: #07113a;
$color-complement-0: #a88533;
$color-complement-1: #fade9c;
$color-complement-2: #cfad5e;
$color-complement-3: #805f12;
$color-complement-4: #553c00;
// Override de variables
$enable-responsive-font-sizes: true !default;
$body-bg: #ced4da;
$font-family-sans-serif: "Nunito",
sans-serif;
$body-color: $color-primary-3;
$navbar-dark-color: $color-complement-1;
$navbar-dark-active-color: $color-complement-0;
$light: $color-complement-1;
$headings-font-family: "Arvo",
serif;
$headings-color: $color-primary-4;
$card_height: 100% !important !default;
//Variables nuevas
$light_bg: #e9e9e9;